---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@font-face {
  font-family: "SingleSleeve";
  src: url(../fonts/sing_14l.ttf) format("truetype");
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
   @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}
// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

a {
  color: #FF7F81;
}


div {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: lightgrey;
  font-family: "Montserrat";
}

.flow {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

#banner {
  width: 1100px;
  margin: 0 auto;
  background-color: black;

  #home {
    display: inline-block;
    padding: 20px;
  }

  .link {
    display: inline-block;
    color: white;
    font-family: "SingleSleeve";
    font-size: 3.5em;
    margin: 0 0 0 30px;
  }

  a:hover {
    color: #FF7F81;
  }

  .link.active {
    color: #FF7F81;
  }

  #rss_link {
    float: right;

    img {
      height: 100px;
    }
  }
}

#main {
  width: 1100px;
  margin: auto;
}

#exhibit {
  font-family: "SingleSleeve";
  width: 100%;
  position: relative;
  margin-bottom: 30px;

  #latest {
    position: relative;
    display: inline-block;
    width: 720px;
    height: 600px;
    background-color: white;
    vertical-align: top;
    overflow: hidden;

    #fog {
      position: absolute;
      background-image: url('/img/fog.png');
      background-position: center;
      background-size: auto;
      width: 100%;
      height: 100%;
    }

    img {
      position: absolute;
      width: 1100px;
      left: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
    }

    #label {
      color: #FF7F81;
      @include stroke(3,#FFFFFF);
      position: absolute;
      font-family: "SingleSleeve";
      font-size: 3em;
      left: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
      text-decoration: underline;

      span {
        display: block;
        font-size: 2em;
      }
    }
  }

  #summary {
    float: right;
    display: inline-block;
    width: 360px;
    margin: 0;
    margin-left: 0px;
    height: 600px;
    vertical-align: top;

            .box {
              padding-top: 0;
            }

    #featured {
      height: 275px;

      .feature {
        display: inline-block;
        vertical-align: top;
        background-color: gray;
        width: 150px;
        margin-right: 4px;
        border: 1px solid black;
        overflow: hidden;
        a {
            display: block;
            position: relative;
            img {
              display: block;
            }
            span {
                position: absolute;
                display: block;
                font-family: "SingleSleeve";
                color: white;
                background-color: rgba(0,0,0,0.8);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2em;
                padding: 10px 0;
                width: 100%;
                text-align: center;
            }
        }

      }

    }

    :first-child {
      margin-top: 0;
    }

  }

}

#blog {
  #more {
    text-align: center;
    font-size: 2em;
    font-family: "SingleSleeve";
    text-decoration: underline;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 3em;
    text-decoration: underline;
  }
}

.box {
  background-color: white;
	font-family: "Montserrat", sans-serif;
  color: black;
  margin: 15px 0;
  text-align: left;
  padding: 20px;
  padding-top: 5px;
  font-size: 10pt;

  h1 {
    margin: 0;
    margin-bottom: 10px;
    font-family: "SingleSleeve";
    font-size: 3em;
    text-align: center;
  }
}

.box.title {
  padding: 5px;
  h1 {
    font-size: 4em;
    margin-bottom: 0px;
  }
}

.article {
  font-size: 10pt;
  padding: 10px 25px;
  position: relative;
  overflow: auto;

  h1 {
    font-family: "SingleSleeve";
    color: #FF7F81;
    text-align: left;
    font-size: 3.8em;
    margin: 0px;
  }
  h2 {
    font-size: 2em;
    font-family: "SingleSleeve";
    margin: 0;
    margin-bottom: -10px;
  }
  img {
    float: left;
    margin: 30px;
    width: 150px;
  }
  p {
    font-size: 1.2em;
  }
}

.commentary {
  background-color: white;

  .side {
      margin-right: 30px;
  }

  img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 50px;
  }

  p {
    margin-top: 0;
    font-family: "Montserrat";
  }

}

.ad {
  text-align: center;
  margin: 10px;
}

.ad.mobile {
  display: none;
}

    @media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .ad {
    display: none;
  }
  .ad.mobile {
    display: block;
  }
}

.adbox {
  display: flex;
  justify-content: space-between;
  text-align: right;

  .banner {
    height: 50px;
    background-color: gray;
    margin: 15px 0;
    padding: 5px;
    color: white;
  }

  .half {
    width: 234px;
  }

  .full {
    width: 468px;
  }
}

.ad.skyscraper {
  display: block;

  position: absolute;

  width: 160px;
  height: 600px;
  background-color: gray;
  margin: 5px;
  padding: 0px;
  color: white;

  top: 0;
}

.ad.skyscraper.left {
  left: -200px;
}

.ad.skyscraper.right {
  right: -200px;
}

#footer {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 0;
  background-color: black;

  .box {
    margin: 20px auto;
    position: relative;
    width: 1058px;
    background-color: gray;
    border: 1px solid white;

    img {
      position: absolute;
      width: 80px;
      margin: 15px;
      bottom: -20px;
      z-index: 100;
    }
  }
}


#navigation {
  width: auto;
  background-color: gray;
  color: white;
  padding: 15px 10px;

  display: flex;
  display: -webkit-flex;

  justify-content: space-around;
  -webkit-justify-content: space-around;

}

#navigation a {
  font-family: "SingleSleeve";
  line-height: 1;
  font-size: 40px;
  text-decoration: none;
  color: white;
}

#navigation i {
  font-size: 40px;
  color: darkgray;
  cursor: default;
}

#navigation i.active {
  color: white;
  cursor: pointer;
}

#navigation i.active:hover {
  color: #fbb5a1;
}

#art {
  img {
    display: block;
    width: calc(100% - 10px);
    border: 5px solid gray;
  }
}


#sidebar {
  position: relative;
  padding: 30px;
  background-color: darkgray;
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
}

  input.donate_bear {
    width: 90%;
  }


#sidebar .box {
	font-family: "Montserrat", sans-serif;
  color: black;
  margin: 3px;
  margin-bottom: 15px;
  box-shadow: -5px 5px;
  text-align: left;
  background-color: white;
  border: 1px solid black;
}

#sidebar .blurb {
  position: relative;
  padding: 15px;
  font-size: 10pt;

  a {
    display: block;
    text-decoration: underline;
    margin: auto;
    margin-top: 10px;
    text-align: center;
  }
}

#sidebar h3 {
	font-family: "SingleSleeve", sans-serif;
  font-size: 25pt;
  display: block;
  margin: 0;
}

.blurb .icon {
  display: block;
  margin: 10px auto;
  width: 40px;
}

#site_blurb .icon {
  position: absolute;
  width: 80px;
  bottom: -12px;
  right: -23px;
  transform: scaleX(-1);
}


#story_banner {
  img {
    width: 100%;
  }
}

.pagination {
  font-family: "SingleSleeve";
  font-size: 2em;
  text-align: center;
  margin: 20px auto;

  span {
    color: gray;
  }

  a {
    text-decoration: underline;
  }

  .page_number {
    color: black;
  }
}

.post_nav {
  font-family: "SingleSleeve";
  text-align: center;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  margin: 30px;

  a {
    margin: 0 20px;
    font-size: 2em;
  }
  .disabled {
    color: gray;
  }
  .arrow_alert {
    font-family: "Montserrat";
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
  }
}

  h1 {
    font-family: "SingleSleeve";
    display: block;
    font-size: 10em;
    margin: 0 auto;
    text-align: center;
  }

#dash {
  font-family: "SingleSleeve";
  font-size: 2em;
	display: flex;
  display: -webkit-flex;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

	flex-direction: row;
	justify-content: space-around;

  -webkit-flex-direction: row;
  -webkit-justify-content: space-around;

	align-items: flex-start;
  -webkit-align-items: flex-start;
  div {
  	width: 150px;
  	margin: 10px;

  	text-align: center;
  }
  .placeholder {
  	width: 150px;
    margin: 0 10px;
  }
  img {
  	width: 140px;

  	vertical-align: middle;

  	cursor: pointer;

    border: 1px solid black;
  }
}

#archives {
  font-family: "SingleSleeve";
  width: 100%;
  position: relative;
  margin: 30px 0;

    h1 {
      display: block;
      font-size: 10em;
      margin: 0 auto;
      text-align: center;
    }

    .categories {
      display: flex;
      justify-content: space-between;
      font-size: 5em;
      text-decoration: underline;
    }

    .phase {
      font-size: 4em;
      text-align: center;
    }

    .phase.soon {
      color: gray;
    }

    .stories {
      display: flex;
      justify-content: space-between;
    }

    .story {
      display: block;
      padding: 15px;
      font-size: 0.6em;
      img {
        display: block;
      }
      .soon {
        width: 150px;
        height: 225px;
        background-color: darkgray;
        font-size: 2em;
        text-align: center;
        color: gray;
        margin: 0 auto;
      }
    }

    .racia {
      text-align: left;
    }

    .antau {
      text-align: right;
    }

    .raciantau {
      flex-grow: 5;
    }

}

.archive {
  position: relative;
  img {
    display: block;
    margin: auto;
  }
  p {
    margin: 30px 130px;
  }
}
