---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@font-face {
  font-family: "SingleSleeve";
  src: url(../fonts/sing_14l.ttf) format("truetype");
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
   @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

@mixin rotate() {

    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;

    padding-left: 20px;
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;
}

@import "include_media";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    755px;

$on-palm:          600px;
$on-laptop:        755px;

$breakpoints: (
  'tiny': 300px,
  'phone': 360px,
  'tablet': 768px,
  'desktop': 1024px
  );
// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
a {
  color: #FF7F81;
}


div {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  min-width: 300px;
  padding: 0 !important;
  margin: 0 !important;
  background-color: white;
  font-family: "Montserrat";
}

#disqus_thread {
	margin: 20px;
}

.wrap {
  margin: 0 auto;
  margin-top: 105px;

  @include media(">=tablet", "landscape") {
  }
  @include media(">=desktop") {
	width: calc(100% - 400px);
    max-width: 756px;
    margin-top: 95px;
  }
}

.flow {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  @include media(">=desktop") {
    flex-direction: row;
  }
}


#banner {
  position: fixed;
  z-index: 1000;
  margin: 0 auto;
  background-color: #FF7F81;
  overflow: visible;

  #banner_main {
    @include media(">=desktop") {
	  width: 100%;
	  float: left;
    }
	margin: 10px 0;
  }
  width: 100%;

  #home {
    position: relative;
    display: inline-block;
    vertical-align: middle;

      #logo {
        height: 50px;
		margin-left: 20px;
        width: 200px;
        background-image: url("/img/LOGOwhite.png");
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
      @include media("<300px") {
        width: 100px;
      }

      }

      a:hover #logo {
        background-image: url("/img/re-design/LOGOpinkwhite.png");
      }
  }


    .updates {
      vertical-align: middle;
    @include media(">=desktop") {
      display: inline-block;
    }
    margin-right: 20px;
	line-height: 0.8;
    float: right;
      color: white;
      text-align: center;
      font-family: "SingleSleeve";
      font-size: 1.8em;
    }

  div.social {
    @include media(">=tablet") {
      display: inline-block;
    }
    display: none;
    float: right;
    margin-right: 20px;
    .icon {
      display: inline-block;
      width: 50px;
      height: 50px;
    }
    #instagram {
      background-image: url("/img/INSTAGRAMwhite.png");
      background-size: contain;
    }
    #instagram:hover {
      background-image: url("/img/re-design/INSTAGRAMpinkwhite.png");
    }
    #twitter {
      background-image: url("/img/TWITTERwhite.png");
      background-size: contain;
    }
    #twitter:hover {
      background-image: url("/img/re-design/TWITTERpinkwhite.png");
    }
    #patreon {
      background-image: url("/img/PATREONwhite.png");
      background-size: contain;
    }
    #patreon:hover {
      background-image: url("/img/re-design/PATREONpinkwhite.png");
    }
	a { line-height: normal; }
  }


  .link {
    @include media(">=tablet") {
      display: inline-block;
    }
    display: none;
  vertical-align: middle;
    color: white;
    font-family: "SingleSleeve";
    font-size: 3em;
    margin: 0 0 0 30px;
  }
  a:hover {
    color: #FF7F81;
    @include stroke(3,white);
  }


  .link.active {
    color: #FF7F81;
      @include stroke(3,white);
  }

  .link.active:hover {
    color: white;
    @include stroke(3,black);
  }

margin-top: -105px;
  @include media(">=desktop") {
    width: 100%;
    //left: 50%;
    //margin-left: -550px;
margin-top: -95px;
  }


}

.alert {
	background-color: black;
	color: white;
	text-decoration: underline;
	padding: 5px;
	text-align: center;
	font-size: .9em;
	margin-top: 10px;
  @include media(">=tablet") {
	display: none;
  }
}
#menu {
  background-color: #FF7F81;
  display: none;
  z-index: 100;
  padding: 15px;

  .link {
    display: block;
    color: white;
    font-family: "SingleSleeve";
    font-size: 3.5em;
    margin: 0 0 0 30px;
  }

  a:hover {
    color: #FF7F81;
    @include stroke(3,#FFFFFF);
  }

  .link.active {
    color: #FF7F81;
    @include stroke(3,#FFFFFF);
  }
}

.home {
	.intro {
		position: relative;
		text-align: center;
		#titlecard {
			width: 70%;
			@include media(">=tablet") {
				width: 100%;
			}
		}
	}
	text-align: center;
	span {
		margin: 5px;
	}
	p {
		font-size: 1.2em;
		margin: 10px 0;
	}
	.themes {
		width: 100%;
		font-size: 1.25em;
		@include media(">=tablet") {
			font-size: 1.75em;
		}
		font-family: "SingleSleeve";
		display: flex;
		flex-direction: column;
		.squares {
			display: flex;
			flex-direction: row;
			max-width: 100%;
			flex-wrap: wrap;
			div {
				flex-shrink: 0;
				width: 50%;
				@include media(">=tablet") {
					width: 25%;
				}
				img {
					width: 100%;
				}
				.theme {
					display: table;
					text-align: center;
					width: 100%;
					height: 40px;
					@include media(">=tablet") {
						height: 60px;
					}
					span {
						display: table-cell;
						vertical-align: middle;
						line-height: 0.8;
					}
				}
				.pink {
					background-color: #FF7F81;
					color: black;
				}
				.black {
					background-color: black;
					color: #FF7F81;
				}
			}
		}
	}
	.void {
		width: 100%;
		background-color: black;
		color: white;
		padding: 20px 0;
	}

	.archives {
		font-size: 2em;
		h2, h3 {
			font-family: SingleSleeve;
		}
		h2 {
			margin-top: 20px;
		}
		h4 {
			font-size: 0.5em;
			font-weight: normal;
			font-style: italic;
		}
		p {
			font-size: 0.45em;
		}
		.story {
			a {
        color: #FF7F81;
				text-decoration: underline;
			}
			a:hover {
        color: white;
        @include stroke(3, #FF7F81);
			}
			margin: 10px;
			margin-bottom: 20px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			text-align: left;
			h3, h4, p {
				margin: 0;
			}
			.clip {
				width: 110px;
				margin-right: 10px;
				flex-shrink: 0;
			}
      .clip:hover {
        outline: 4px solid #FF7F81;
        outline-offset: -4px;
      }
			.right {
				width: calc(100% - 110px - 20px);
				h4, .icon { display: none; }
			}
			h4 {
				margin-bottom: 5px;
			}
			.icons {
				margin-right: 10px;
				text-align: right;
			}
			.icon {
				display: inline-block;
				vertical-align: baseline;
				width: auto;
				height: 0.75em;
			}
			@include media(">=tablet") {
				margin: 20px;
				.clip, .icons {
					margin-right: 20px;
				}
				.clip {
					width: 140px;
				}
				.left h4, .left .icon {
					display: none;
				}
				.right h4 {
					display: block;
				}
				.right .icon {
					display: inline-block;
				}
				.right {
					width: calc(100% - 140px - 40px);
				}
			}
		}
	}
}

.box.subscribe {
    min-width: 300px;
    background-color: #FF7F81;
    color: #FF7F81;
    margin-bottom: 0 !important;
    padding: 7px;
    p {
      font-family: "Montserrat";
      color: white;
      margin: 0;
      margin-bottom: 7px;
    }
    #mc_embed_signup {
        background-color: #FF7F81;
    }
    #mc_embed_signup input.email {
      font-family: "Montserrat";
    }
    #mc_embed_signup .button {
      font-family: "Montserrat";
      background-color: white;
      color: #FF7F81;
    }
    #mc_embed_signup label {
      font-family: "SingleSleeve";
      font-size: 3em;
      @include stroke(2, white);
      margin-bottom: 0;
    }
    #mc-embedded-subscribe-form {
      padding: 0;
    }
}

#reminder {
  flex-direction: column;
  width: auto;
  justify-content: space-around;
  align-items: stretch;

  @include media(">=desktop") {
    flex-direction: row;
  }
  .box.subscribe {
        @include media(">=desktop") {
            margin-left: 20px;
        }
      margin-bottom: 15px !important;
    }
}

  .panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    vertical-align: top;

    @include media(">=desktop") {
      width: 360px;
    }

    .box {
      padding-top: 15px;
      margin-top: 20px !important;
    }


    #featured {
    margin: 0 auto;
    }
  }

#blog {
  position: relative;
  #more {
    text-align: center;
    font-size: 2em;
    font-family: "SingleSleeve";
    text-decoration: underline;
    margin-bottom: 20px;
  }

  h1.top {
    font-size: 3em;
    text-decoration: underline;
      margin-bottom: 15px;
  }
}

.box {
  background-color: white;
	font-family: "Montserrat", sans-serif;
  color: black;
  margin: 15px 0;
  margin-top: 0;
  text-align: left;
  padding: 10px;
  @include media(">=desktop") {
    padding: 20px;
  }
  padding-top: 5px;
  font-size: 10pt;

  h1 {
    margin: 0;
    margin-bottom: 10px;
    font-family: "SingleSleeve";
    font-size: 3em;
    text-align: center;
  }
}


.box.title {
  padding: 5px;
  h1 {
    font-size: 4em;
    margin-bottom: 0px;
  }
}

.article {
  font-size: 8pt;
  padding: 10px 25px;
  position: relative;
  overflow: auto;

  h1 {
    font-family: "SingleSleeve";
    color: #FF7F81;
    text-align: left;
    font-size: 3.8em;
    margin: 0px;
    margin-bottom: -5px;
  }
  h2 {
    font-size: 2em;
    font-family: "SingleSleeve";
    margin: 0;
    margin-bottom: -10px;
  }
  h3 {
    font-size: 2em;
    font-family: "SingleSleeve";
    margin: 0;
    color: gray;
  }
  img {
    max-width: 80%;
  }
  img.thumb {
    float: right;
    margin: 10px;
    width: 75px;
    @include media(">=desktop") {
      float: left;
      margin: 30px;
      width: 150px;
    }
  }
  img.thumb.small {
    @include media(">=desktop") {
      width: 100px;
    }
  }
  p {
    font-size: 1.2em;
  }
}

.commentary {
  background-color: white;
  flex-grow: 2;
  .side {
      margin-right: 30px;
  }

  img {
    width: 120px;
    margin-left: 5px;
    margin-right: 0;
    @include media(">=desktop") {
      margin-right: 30px;
    }
  }

  p {
    margin-top: 0;
    font-family: "Montserrat";
  }

  .article h1 { color: black; }
  .article .side {  margin-bottom: 30px; }
  .content img { float: left; }
}


.adbox {
    margin: 10px auto;
    margin-top: 0;

  display: none;

  @include media(">=desktop") {
    display: block;
  }


  .half {
    width: 234px;
  }

  .full {
    width: 468px;
  }

}
.adbox.banner {
      width: 728px;
      margin-top: 10px;
  }

.adbox.mobile {
margin-top: 10px;
  display: flex;
  justify-content: space-around;
  @include media(">=desktop") {
    display: none;
  }
}

.adbox.skyscraper {
  display: none;

    @include media(">=desktop") {
      display: block;
    }

  position: absolute;

  color: white;

  top: 0;
}

.adbox.skyscraper.left {
  left: -200px;
}

.adbox.skyscraper.right {
  right: -200px;
}

#footer {
  background-color: #FF7F81;
  .wrap {
  margin: 30px auto;
  margin-bottom: 0;
  padding: 10px 0;

  .box {
    margin: 20px;
    position: relative;
    background-color: white;

    img {
      position: absolute;
      width: 40px;
      margin: 15px;
      margin-right: 0;
      bottom: -20px;
      z-index: 100;
      right: -10px;

      @include media(">=desktop") {
        width: 95px;
      }
    }
  }
  }
}


#navigation {
  width: auto;
  background-color: #FF7F81;
  color: white;
  padding: 15px 10px;

  display: flex;
  display: -webkit-flex;

  justify-content: space-around;
  -webkit-justify-content: space-around;

}

#navigation a {
  font-family: "SingleSleeve";
  line-height: 1;
  font-size: 40px;
  text-decoration: none;
  color: white;
}

#navigation i {
  font-size: 40px;
  color: #E47F81;
  cursor: default;
}

#navigation i.active {
  color: white;
  cursor: pointer;
}

#navigation i.active:hover {
  color: #fbb5a1;
}

#art {
  position: relative;
  img {
    display: block;
    width: calc(100% - 10px);
    border: 5px solid #FF7F81;
  }

  .adbox {
    img {
      border: none;
      width: auto;
    }
  }

}


#sidebar {
  position: relative;
  padding:7px;
  padding-bottom: 0px;
  background-color: #FF7F81;
  flex-grow: 0;
  flex-shrink: 0;
      .box.subscribe {
        min-width: auto;
      }
            @include media(">=desktop") {
              width: 250px;
            }

            .box.subscribe {
              margin-bottom: 10px !important;
            }
}

  input.donate_bear {
    width: 90%;
  }


#sidebar .box {
  margin: 10px 7px;
  margin-bottom: 15px;
}

#sidebar .blurb {
  position: relative;
  padding: 7px;
  font-size: 10pt;

  a {
    display: block;
    text-decoration: underline;
    margin: auto;
    margin-top: 10px;
    text-align: center;
  }
}

#sidebar h3 {
	font-family: "SingleSleeve", sans-serif;
  font-size: 25pt;
  display: block;
  margin: 0;
}

.blurb .icon {
  display: block;
  margin: 10px auto;
  width: 40px;
}

#site_blurb .icon {
  position: absolute;
  width: 80px;
  bottom: -12px;
  right: -23px;
  transform: scaleX(-1);
}


#story_banner {
  img {
    width: calc(100% - 14px);
    padding: 7px;
  }
}

.pagination {
  font-family: "SingleSleeve";
  font-size: 2em;
  text-align: center;
  margin: 20px auto;

  span {
    color: gray;
  }

  a {
    text-decoration: underline;
  }

  .page_number {
    color: black;
  }
}

.post_nav {
  font-family: "SingleSleeve";
  text-align: center;
  margin: 30px;

  a {
    margin: 0 20px;
    font-size: 2em;
  }
  .disabled {
    color: gray;
  }
  .arrow_alert {
    font-family: "Montserrat";
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
  }
}

  h1 {
    font-family: "SingleSleeve";
    display: block;
    font-size: 10em;
    margin: 0 auto;
    text-align: center;
  }

#dash {
  font-family: "SingleSleeve";
  font-size: 2em;
	display: flex;
  display: -webkit-flex;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

	flex-direction: row;
	justify-content: space-around;

  -webkit-flex-direction: row;
  -webkit-justify-content: space-around;

	align-items: flex-start;
  -webkit-align-items: flex-start;

  padding: 0;
  div {
  	width: 150px;
  	margin: 10px;

  	text-align: center;
  }
  .placeholder {
  	width: 150px;
    margin: 0 10px;
  }
  img {
  	width: 140px;

  	vertical-align: middle;

  	cursor: pointer;

    border: 1px solid black;
  }
}
.archive_icon { display: block; margin: 20px auto; }

.categories .racia {
  color: white;
  @include stroke(3,#FF7F81);
}
.categories .antau {
  color: white;
  @include stroke(3,#800000);
}
.categories .raciantau {
  color: white;
  @include stroke(3,#ff0000);
}

#archives { font-family: "SingleSleeve"; width: 100%; position: relative; }
@media (min-width: 1024px) { #archives { margin: 30px 0; } }
#archives h1 { display: block; font-size: 5em; margin: 0 auto; text-align: center; }
@media (min-width: 1024px) { #archives h1 { font-size: 7em; } }
#archives .categories { display: flex; justify-content: space-between; font-size: 3em; margin: 0 20px; }
@media (min-width: 1024px) { #archives .categories { font-size: 4em; margin: 0; } }
#archives .phase { font-size: 2.8em; text-align: center; margin: 10px 0; }
@media (min-width: 1024px) { #archives .phase { font-size: 3em; } }
#archives .phase.soon { color: gray; }
#archives .stories { display: flex; justify-content: space-between; flex-direction: column; }
@media (min-width: 1024px) { #archives .stories { flex-direction: row; } }
#archives .story { display: block; padding: 15px; font-size: 0.6em; max-width: 120px;}
#archives a.story:hover {
  color: white;
    @include stroke(3,#FF7F81);
}
#archives a.antau.story:hover {
  color: white;
    @include stroke(3,#800000);
}#archives a.raciantau.story:hover {
  color: white;
    @include stroke(3,#ff0000);
}
#archives .story img { display: block; margin: auto; width: 110px; }
@media (min-width: 1024px) { #archives .story img { width: 110px; } }
#archives .story .soon { background-color: darkgray; font-size: 2em; text-align: center; color: gray; margin: 0 auto; width: 110px;height: 165px; }
@media (min-width: 1024px) { #archives .story .soon { width: 110px; height: 165px; } }
#archives .racia { text-align: center; align-self: center;}
@media (min-width: 1024px) { #archives .racia { align-self: auto; } }
#archives .antau { text-align: center; align-self: center; a { color: #800000; }}
@media (min-width: 1024px) { #archives .antau { align-self: auto; } }
#archives .raciantau { text-align: center; flex-grow: 5; align-self: center; a {color: #ff0000; }}
@media (min-width: 1024px) { #archives .raciantau { align-self: auto; } }

#archives .border {
  display: flex; justify-content: column; flex-direction: row;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 5px;
  a {
    padding-top: 0px;
  }
}
#archives .border.three.raciantau {
  color: #ff0000;flex-direction: column;
  p {
    margin: 10px;
    margin-bottom: 25px;
    margin-top: 0;
    font-size: .8em;
  }
}
#archives .mfc {
  color: black;
  display: flex; justify-content: center; flex-direction: row;
  .story {
    padding: 5px;
    margin-top: 0;
      padding-top: 0px;
  }
}


#archives .mfc.title {
  display: none;
  font-size: .7em;
  color: #ff0000;
  text-align: center;
  margin-top: 5px;
}
#archives .mfc.title.mobile {
  display: block;
}
@media (min-width: 1024px) { #archives .mfc.title { display: block;  } #archives .mfc.title.mobile{ display: none;}}

#archives .mfc.part {
  display: block;
  font-size: .7em;
  color: #ff0000;
  text-align: center;
}

.archive { position: relative; }
.archive h1 { font-size: 5em; }
.archive img { display: block; margin: auto; }
.archive p { margin: 0px 15px 10px; }
@media (min-width: 1024px) { .archive p { margin: 30px 130px; } }
#anthology {
  font-family: "SingleSleeve";
  width: 100%;
  position: relative;

  @include media(">=desktop") {
    margin: 30px 0;
  }

    h1 {
      display: block;
      font-size: 1em;
      margin: 0 auto;
      text-align: center;

      @include media(">=desktop") {
        font-size: 1em;
      }
    }

    .phase {
      font-size: 2.8em;
      background-color: #FFCCCE;
      text-align: center;
      margin: 10px 0;
      position: relative;
      min-height: 200px;

      @include media(">=desktop") {
        font-size: 2em;
      }

      .title {
        font-size: 2em;
        color: white;
        @include rotate();
        @include stroke(4,#000);
      }
    }

    .phase.soon {
      color: gray;
    }

    .stories {

    }

    .story {
      text-align: left;
      display: block;
      padding: 15px;
      font-size: 2em;
      color: #FF7F81;

      img.icon {
        display: inline-block;
        width: 67px;
      }
      div.story_title {
        display: inline-block;
        @include stroke(3, #fff);
      }
      .soon {
        color: #999;
        @include stroke(3, #ddd);
      }

      p {
        font-family: "Montserrat";
        font-size: 0.25em;
        text-align: left;
        color: black;
        margin: 0px 15px 10px;
        @include media(">=desktop") {
          margin: 30px 200px 30px 10px;
        }
      }
    }

    .racia {
    }

    .antau {
    }

    .raciantau {
      text-align: center;
      flex-grow: 5;
      align-self: center;
      @include media(">=desktop") {
        align-self: auto;
      }
    }

}


.about {
  width: 100%;
  position: relative;
  img {
    width: 100%;
  }
  .startout {
    width: 100%;
    background-color: black;
    font-family: "SingleSleeve";
    color: white;
    font-size: 3.2em;
    @include media(">=desktop") {
      padding: 20px;
    }
    text-align: center;
    .links {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include media(">=desktop") {
        flex-direction: row;
      }
    }
    a {
      color: white;
    }
    a:hover {
      color: #FF7F81;
        @include stroke(3,white);
    }
    .story {
      font-size: .8em;
      width: 220px;
      padding: 10px;
      div {
        margin: 2px;
      }
      .subtitle {
        font-size: .7em;
      }
      img {
        width: 180px;
      }
    }
  }
}
