---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@font-face {
  font-family: "SingleSleeve";
  src: url(../fonts/sing_14l.ttf) format("truetype");
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
   @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

@mixin rotate() {

    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;

    padding-left: 20px;
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;
}

@import "include_media";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    755px;

$on-palm:          600px;
$on-laptop:        755px;

$breakpoints: (
  'tiny': 300px,
  'phone': 360px,
  'tablet': 768px,
  'desktop': 1024px
  );
// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
a {
  color: #FF7F81;
}

div {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  min-width: 300px;
  padding: 0 !important;
  margin: 0 !important;
  background-color: white;
  font-family: "Montserrat";
}

#disqus_thread {
	margin: 20px;
}


html, body {
  height: 100%;
  overflow: hidden;
  overflow-x: auto;
  margin: 0;
}

.wrap, .home {
  height: 100%;
}

.home {
  width: 100%;
  min-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

  
.nav {
  flex-shrink: 0;
  box-sizing: border-box;
  
	#header {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
  
	#logo {
    margin: 15px;
		min-height: 50px;
		position: relative;
		width: 150px;
		background-image: url("/img/LOGOwhitepink.png");
		background-size: contain;
		background-position: left;
		background-repeat: no-repeat;
	}
	
	#button {
		margin-left: 15px;
		padding: 7px;
		color: white;
		background-color: #FF7F81;
		border-radius: 5px;
    cursor: pointer;
		i {
			font-size: 1.4em; 
		}
	}
	#stories {
		text-align: left;
    overflow: hidden;
    padding: 15px;
    
   display:none;
    
		.anthology {
			margin-top: 10px;
			font-weight: bold;
			text-decoration: underline;
		}
    a {
      color: black;
      text-decoration: none;
    }
    a:hover, a.active {
      color: #FF7F81;
      text-decoration: underline;
    }
	}
  #stories.show {display:block;}
}

#detail {
  flex-shrink: 0;
  width: 320px;
  padding: 10px;
  overflow: auto;
  height: calc(100% - 10px);
  #story.show {display:block;}
  #story {
    display: none;
    text-align: center;
    margin-bottom: 20px;

    h3{
      margin: 0;
      margin: 15px;
      font-family: "SingleSleeve";
      font-size: 3em;
      text-align: left;
      color: white;
      @include stroke(4,#000000);
    }
    .clip {
      margin: 10px;
      margin-bottom: 5px;
      padding: 5px;

    }
    .icons {
      margin-right: 10px;
      text-align: right;
    }
    .icon {
      display: block;
      vertical-align: baseline;
      width: auto;
      height: 3em;
      padding-top: 5px;
      padding-left: 15px;
    }
    .fabelo {
    }
    p {
      text-align: left;
      padding: 0 15px;
      margin: 0;
      margin-bottom: 10px;
      background-color: white;
    }
  }
}
#main {
  flex-shrink: 1;
  max-width: 1100px;
  min-width: 600px;
  height: 100%;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
}

#art {
  position: relative;
  min-height: calc(100% - 70px);
  .artimg {
    display: block;
    width: calc(100% - 10px);
  }
  .artimg.refresh {
    height: 831.109px;
  }
}

#navigation {
  background-color: #FF7F81;
  color: white;
  padding: 15px 10px;
  position: sticky;
  bottom: 0;

  .inset {
    margin: auto;
    display: flex;
    display: -webkit-flex;

    justify-content: space-around;
    -webkit-justify-content: space-around;

  }

  a {
    font-family: "SingleSleeve";
    line-height: 1;
    font-size: 40px;
    text-decoration: none;
    color: white;
  }

  i {
    font-size: 40px;
    color: #E47F81;
    cursor: default;
  }

  i.active {
    color: white;
    cursor: pointer;
  }

  .active:hover {
    color: #fbb5a1;
  }
}
