<div id="banner">
  <div id="home">
    <a href="/">
      <img src="/img/RACIANTAU_BANNER_TOP_80px.png" height=60/>
    </a>
  </div>
  <a class="link {% if page.url contains 'anthology' %}active{% endif %}" href='/archives'><div>Archives</div></a>
  <a class="link {% if page.url contains 'blog' %}active{% endif %}" href='/blog'><div>Blog</div></a>
  <span class="link " href='/about' style="color: darkgray;"><div>About</div></span>
  <div id="rss_link">
    <a href="/feed.xml"><img src="/img/RSS_BANNER_150px.png" /></a>
  </div>
  <a onclick="show_menu();"><i class="fa fa-bars fa-3x"></i></a>
</div>

<div id="menu">
  <a class="link {% if page.url contains 'blog' %}active{% endif %}" href='/blog'><div>News</div></a>
  <a class="link {% if page.url contains 'archives' %}active{% endif %}" href='/archives'><div>Archives</div></a>
  <span class="link " href='/about' style="color: rgba(255,255,255,0.5);"><div>About</div></span>
</div>
