<div id="banner">
  <div id="banner_main">
  <div id="home">
    <a href="/">
      <div id="logo"> </div>
    </a>
  </div>
  <a class="link {% if page.url contains site.comic.last.url %}active{% endif %}" href='{{site.comics.last.url}}'><div>Latest!</div></a>
  <a class="link" href='http://raciantau.com/#stories'><div>Stories</div></a>
  <div class="social">
    <a href="https://twitter.com/racia_antau"><div class="icon" id="twitter"> </div></a>
    <a href="https://www.instagram.com/smsgomez/"><div class="icon" id="instagram"> </div></a>
    <a href="https://www.patreon.com/fabelaro"><div class="icon" id="patreon"> </div></a>
  </div>
      <div class="updates">
        Updates<br />M W F!
      </div>

  </div>
<div class="alert">
	<span><a href="{{site.comics.last.url}}"><b>&#91;{{site.comics.last.date | date: "%b %d" }}&#93; Update</b>: {{site.comics.last.story}}</a></span>
</div>
</div>
