<div id="footer">
  <div class="wrap">
  <div class="webmaster">
    <div class="box" style="text-align: center;"> Any questions or complaints regarding the site, donations or w/e please email <b>gabriel&#64;raciantau.com</b>
      <br /><br />
      Everything else art/comic/most things related: <b>sal&#64;raciantau.com</b> ; that's your guy.
          <img src="/img/content/ROCK.png" width="120" style="position: absolute;" />
    </div>
  </div>
  <div class="copyright" >
    <div class="box" style="text-align: center; ">
      All artwork and content on this site is Copyright © 2016 Salomon Gomez.
    </div>
  </div>
</div>
</div>
