<div id="footer">
  <div class="wrap">
  <div class="webmaster">
    <div class="box" style="text-align: center;"> Any questions or complaints regarding the site, donations, or technical issues? Email <b>gabriel&#64;raciantau.com</b>

            <br /><br />
Business inquiries and any other comments/concerns/feedback should be sent to <b>sal&#64;raciantau.com</b>
          <img src="/img/content/ROCK.png" width="120" style="position: absolute;" />
    </div>
  </div>
  <div class="copyright" >
    <div class="box" style="text-align: center; ">
      All artwork and content on this site is Copyright © 2017 Salomon Gomez.
    </div>
  </div>
</div>
</div>
