---
layout: default
permalink: /anthology/
---


<div id="anthology">

  <div class="phase">
    <div class="title">
       Protasis
    </div>
  <div class="stories">
    <div class="story racia">
      <img class="icon" src="/img/icons/battlemon.png" />
      <div class="story_title">Battlemon</div>
      {% assign stories = site.stories | where_exp: 'story', "story.title == 'Battlemon'" %}
      {% assign story = stories[0] %}
      {% include archive.html %}
    </div>
    <div class="story antau">
      <img class="icon" src="/img/icons/collision.png" />
      <div class="story_title">Collision 2016</div>
      {% assign stories = site.stories | where_exp: 'story', "story.title == 'Collision 2016'" %}
      {% assign story = stories[0] %}
      {% include archive.html %}
    </div>
    <div class="story racia">
      <img class="icon" src="/img/content/icon03-cabin-fever.png" />
      <div class="story_title">Cabin Fever</div>
      {% assign stories = site.stories | where_exp: 'story', "story.title == 'Cabin Fever'" %}
      {% assign story = stories[0] %}
      {% include archive.html %}
    </div>
    <div class="story antau">
      <img class="icon" src="/img/content/ICON04_NATURE_CALLS.png" />
      <div class="story_title">Nature Calls</div>
      {% assign stories = site.stories | where_exp: 'story', "story.title == 'Nature Calls'" %}
      {% assign story = stories[0] %}
      {% include archive.html %}
    </div>
    <div class="story raciantau">
      <img class="icon" src="/img/icons/battlemon.png" />
      <div class="story_title soon">Desperate Times</div>
    </div>
  </div>
</div>

{% include ads01.html %}
{% include ad-mobile.html id="pw_adbox_79419_6_0" %}

<!-- <div class="phase">
  <div class="title soon">
     Civics
  </div>
</div>

<div class="phase">
  <div class="title soon">
     Ethics
  </div>
</div>


<div class="phase">
  <div class="title soon">
     Mysteries
  </div>
</div>


<div class="phase">
  <div class="title soon">
     Dialectic
  </div>
</div> -->

{% include ad-skyscraper.html side="left" id="pw_adbox_79458_3_0" %}
{% include ad-skyscraper.html side="right" id="pw_adbox_79458_3_1" %}
</div>

{% include reminders.html %}
