<!DOCTYPE html>
<html>
  <head>
    <!-- Last Update: {{site.comics.last.date | date: "%d/%m/%Y" }} -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=max-device-width, initial-scale=1.0">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@racia_antau">
    <meta name="twitter:creator" content="@lazysquire">
    <meta name="twitter:title" content="RACIANTAU">
    <meta name="twitter:description" content="{{page.content}}">
    <meta name="twitter:image" content="{{site.url}}{{page.image}}">

    {% feed_meta %}
    <title>RACIANTAU</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/slicknav.min.css" />
    <script type="text/javascript">

    </script>
<script>
(function(d,t,p){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='http'+(d.location.protocol=='https:'?'s':'')+'://www.comic-rocket.com/metrics.js#'+(p||"");s.parentNode.insertBefore(g,s);
})(document,'script','key=f33v');
</script>
<script async src="https://www.comic-rocket.com/metrics.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/css/jquery.slicknav.min.js"></script>
<script>"pMiXeJsrvG4K"</script>
  </head>
  <body>
    {% include banner.html %}
    <div id="main">
      <div class="wrap">
        {{content}}
      </div>
    </div>
    {% include footer.html %}

<script>
	$(function(){
		$('#menu').slicknav({
      label: '',
      brand: ' ',
      prependTo:'#mobileMenu',
      init: function() {
        $('.slicknav_brand').click(function() {
          window.location.href = "/";
          console.log("hey");
        });
      },
      beforeOpen: function(trigger) {
        $('#banner').addClass('open');
      },
      beforeClose: function(trigger) {
        $('#banner').removeClass('open');
      },
     });
	});
  $(function (){
    document.onkeydown = checkKey;

    function checkKey(e) {
        e = e || window.event;
        if (e.keyCode == '37') {
           document.getElementById('prev_arrow').click();
        }
        else if (e.keyCode == '39') {
           document.getElementById('next_arrow').click();
        }
    }

  });
  $(function() {
    var didScroll;
    var lastScrollTop = 0;
    var delta = 5;
    var navbarHeight = $('#banner').outerHeight();

    $(window).scroll(function(event){
        didScroll = true;
    });

    setInterval(function() {
        if (didScroll) {
            hasScrolled();
            didScroll = false;
        }
    }, 250);

    function hasScrolled() {
        var st = $(this).scrollTop();

        // Make sure they scroll more than delta
        if(Math.abs(lastScrollTop - st) <= delta)
            return;

        // If they scrolled down and are past the navbar, add class .nav-up.
        // This is necessary so you never see what is "behind" the navbar.
        if (st > lastScrollTop && st > navbarHeight){
            // Scroll Down
            $('#banner').removeClass('nav-down').addClass('nav-up');
        } else {
            // Scroll Up
            if(st + $(window).height() < $(document).height()) {
                $('#banner').removeClass('nav-up').addClass('nav-down');
            }
        }

        lastScrollTop = st;
    }
  });
</script>
    <!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 859265678;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/859265678/?guid=ON&amp;script=0"/>
</div>
</noscript>

  </body>
  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81010677-1', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
        function showMailingPopUp() {
        document.cookie = "MCEvilPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
       require(["mojo/signup-forms/Loader"], function(L) {
         L.start({"baseUrl":"mc.us14.list-manage.com","uuid":"e5f51c7612149afbe5207ea47","lid":"14d96ec3ca"})
       })
      };
      document.getElementById("open-popup").onclick = function() {showMailingPopUp()};
</script>
<!-- Project Wonderful Ad Box Loader -->
<script type="text/javascript">
   (function(){function pw_load(){
      if(arguments.callee.z)return;else arguments.callee.z=true;
      var d=document;var s=d.createElement('script');
      var x=d.getElementsByTagName('script')[0];
      s.type='text/javascript';s.async=true;
      s.src='//www.projectwonderful.com/pwa.js';
      x.parentNode.insertBefore(s,x);}
   if (window.attachEvent){
    window.attachEvent('DOMContentLoaded',pw_load);
    window.attachEvent('onload',pw_load);}
   else{
    window.addEventListener('DOMContentLoaded',pw_load,false);
    window.addEventListener('load',pw_load,false);}})();
</script>
<!-- End Project Wonderful Ad Box Loader -->
</html>
