---
layout: default
---


<div id="exhibit">
  <div id="latest">
    {% assign featured = site.comics.last %}
    <a href="{{featured.url}}">
      <img src="{{featured.image}}" />
      <div id="fog"></div>
      <div id="label">Latest Page:<span>{{featured.story.title}} {{featured.title}}</span></div>
    </a>
  </div>
  <div id="summary" class="panel">
    <div class="box">
      {{page.description_html}}
    </div>
    <div id= "featured" class="box">
    {% assign match = site.stories | where_exp: 'item', 'page.stories contains item.title' %}
      <h1>FEATURED STORIES</h1>
      <div class="feature">
          {% assign feature = match[0] %}
          {% assign pages = site.comics | where_exp: 'item', 'item.story == feature.title' %}
          {% assign link = pages.first.url %}
          <a href="{{link}}" ><img src="{{ feature.poster_image }}"/>{{feature.title}}</a>
      </div>
      <div class="feature">
          <a href="" ><img src="{{ match[1].poster_image }}"/></a>
      </div>
    </div>
  </div>

  <div class="ad skyscraper left">
  </div>

  <div class="ad skyscraper right">
  </div>
</div>

<div id="blog">
  {% assign all = site.posts | sort: 'date' | reverse %}
  {% assign latest = all.first %}
  {% assign news = all | shift %}

  <div class="box article">
    <h2>{{ latest.date | date: "%A %b %d, %y"}}</h2>
    <h1><a href="{{ latest.url }}">{{latest.title}}</a></h1>
    {% if latest.thumb %}
    <img src="{{latest.thumb}}" />
    {% elsif latest.image %}
    <img src="{{latest.image}}" />
    {% elsif latest.icon_image %}
    <img src="{{latest.icon_image}}" />
    {% endif %}
    {{latest.excerpt}}
  </div>

  <div class="adbox">
    <div class="banner full">AD</div>
    <div class="banner full">AD</div>
  </div>

  {% for post in news limit: 3 %}
    <div class="box article">
      <h2>{{ post.date | date: "%A %b %d, %y" }}</h2>
      {% if post.story %}
      <h1><a href="{{ post.url }}">Updated! {{post.story.title}} {{post.title}}</a></h1>
      {% else %}
      <h1><a href="{{ post.url }}">{{post.title}}</a></h1>
      {% endif %}
      {% if post.thumb %}
      <img src="{{post.thumb}}" />
      {% elsif post.image %}
      <img src="{{post.image}}" />
      {% elsif post.icon_image %}
      <img src="{{post.icon_image}}" />
      {% endif %}
      {{post.excerpt}}
    </div>
  {% endfor %}
  <div id="more"><a href="/blog">MORE NEWS</a></div>
</div>
