---
layout: default
---

<div class="home">

	{% assign post = site.comics.last %}
  
	{% assign posts = site.comics | where_exp: "item", "item.story == post.story" %}
	{% assign allprev = posts | where_exp: "item", "item.date < post.date" %}
  {% assign total = posts.size %}
       {% capture total_str %}
       {% if total < 10 %}0{% endif %}{{ total }}
  {% endcapture %}

	{% assign post = allprev.first %}
  
	{% assign posts = site.comics | where_exp: "item", "item.story == post.story" %}
	{% assign allnext = posts | where_exp: "item", "item.date > post.date" %}
	{% assign next_page = allnext.first %}

  
  {% assign stories = site.data.stories | sort: 'order' %}
  {% assign story_this = stories | where_exp: "item", "item.title == post.story" %}
  {% assign story_this = story_this.first %}
  
  {% assign stories_prev = stories | where_exp: "item", "item.order < story_this.order" %}
  {% assign stories_next = stories | where_exp: "item", "item.order > story_this.order" %}

  {% assign story_prev = stories_prev.last %}
  {% assign story_next = stories_next.first %}

  {% assign next_story = story_next %}
  {% assign prev_story = story_prev %}

  {% if prev_page %}
    {% assign prev_story = story_this %}
  {% else %}
    {% assign posts = site.comics | where_exp: "item", "item.story == prev_story.title" %}
    {% assign prev_page = posts.last %}
  {% endif %}

	{% if next_page %}
	{% else %}
    {% assign posts = site.comics | where_exp: "item", "item.story == next_story.title" %}
    {% assign next_page = posts.first %}
	{% endif %}
 

	<section id="main">
   <div id="header">
    <div id="logo"></div>
    <li class="social">
      <a href="https://twitter.com/lazysquire"><div class="icon twitter"></div></a>
      <a href="https://www.instagram.com/lazysquire/"><div class="icon instagram"></div></a>
      <a href="https://www.patreon.com/lazysquire"><div class="icon patreon"></div></a>
    </li>
  </div>

	<div id="art">
		<object class="artimg" data="{{ post.image }}" type="image/jpg">
		<img class="artimg refresh" src="/img/re-design/sorry.jpg" />
		</object>
	</div>
	
	<div id="navigation" class="">
		<div class="inset">
			<a title="Previous Story" {% if prev_story %} class="{% if prev_story %}active{% endif %}" href="{{ prev_story.first_page }}" {% endif %}>
				<i id="first_arrow" title="First" class="fa fa-angle-double-left "></i>
        <p> Previous Story </p>
			</a>
			<a title="Previous" {% if prev_page %} class="{% if prev_page %}active{% endif %}" href="{{ prev_page.url }}" {% endif %}>
				<i id="prev_arrow" class="fa fa-angle-left "></i>
        <p> Previous Page </p>
			</a>
        <div id="buttontop" class="button" onClick="myFunction()">
          <i title="Menu" class="fa fa-info"></i>
        </div>
			<a title="Next" {% if next_page %} class="{% if next_page %}active{% endif %}" href="{{ next_page.url }}" {% endif %}>
				<i id="next_arrow" class="fa fa-angle-right "></i>
        <p> Next Page </p>
			</a>
			<a title="Next Story" {% if next_story %} class="{% if next_story %}active{% endif %}" href="{{ next_story.first_page }}" {% endif %} >
				<i id="last_arrow" class="fa fa-angle-double-right "></i>
        <p> Next Story </p>
			</a>
		</div>
	</div>
  <div id="detail">
    {% assign match = site.data.stories | where_exp: 'item', 'item.title == post.story' %}
    {% if match.first %}{% assign story = match.first %}{% endif %}
		<div class="nav">
        <img src="/img/LOGOwhitepink.png" />
        <p>("RAH-SEE-ON-TOE")</p>
				<div id="stories">
				{% assign stories = site.data.stories | sort: 'order' %}
				{% for story in stories %}
          {% if story.anthology == anthology %}
          {% else %}
            {% assign anthology = story.anthology %}
            <div class="anthology">{{story.anthology}}</div>
          {% endif %}
						<a {% if post.story == story.title %}class="active"{% endif %} href="{{story.first_page}}">{{ story.title }}</a><br />
				{% endfor %}
				</div>
		</div>
		<div id="story" class="show">
			<div class="right">
      
          <div class="commentary">
           <div class="article">
              <div class="side">
                <h1>the page: <span class="title">{{ page.date | date: "%A %b %d, %y" }}</span></h1>
                <p>Page <b>{{ page.title | slice: -2, 2 }}</b> of <b>{{ total_str }}</b> pages.</p>
                <p class="notice">
                This blurb was written when this comic page first went online. It might not accurately reflect the current state of the RACIANTAU project. Consider it a piece of history.
                </p>
              </div>
              <div class="content">              
                <img src="{{ page.icon_image }}" />
                {{ page.content }}
              </div>
            </div>
            
					<h3 style="clear: both;">
						the story: <span class="title">{{ story.title }}</span>
					</h3>
					<p>{{ story.desc_html }}</p>
					<img class="icon" src="{{story.icon_image}}"/>
          {% capture character %} {{ story.character  | downcase }} {% endcapture %}
          {% if character contains "racia" %}<img class="icon" src="/img/re-design/ICON0A_RACIA.png" />{% endif %}
          {% if character contains "antau" %}<img class="icon" src="/img/re-design/ICON0A_ANTAU.png" />{% endif %}
          
            
            <div>
              <h1>the comic: <span class="title">RACIANTAU</span></h1>
              <p>An ongoing study in comics, storytelling, and philosophy, RACIANTAU is a comics anthology structured in the form of an essay. 
              The title of the project (pronounced /rɔsiɑntoʊ/) is a contraction of the names "Racia" and "Antau" &mdash; the two main characters. 
              The kids try to make sense out of a senseless world of VIOLENCE, IMPERMANENCE, ISOLATION. Anxious about the FUTURE OF OUR SPECIES, 
              they find themselves face to face with the VOID WHICH CONSUMES ALL THINGS. In each story, one or both of them inch closer towards 
              self-realization.</p>
              <br />
              <p>We're a self-taught comic-making duo with absurd politics and philosophy. We've made every page out of a desire for 
              exploration and improvement. But if you enjoy what we put forth, your kind words will motivate us (email:hello@raciantau.com). If you want 
              to read more, <a href="http://patreon.com/lazysquire">please join our fans and become our patrons</a>. </p>
              <br />
              <p>Yours,</p>
              <p>Em & Iris</p>
            </div>
            </div>
            
			</div>
		</div>
	</div>
    
 <div id="disqus_thread"></div>
	</section>	

</div>


<script id="dsq-count-scr" src="//raciantau.disqus.com/count.js" async></script>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://raciantau.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>